In [1]:
import pandas as pd

In [6]:
people = {
    'first' : ['Riya', 'Corey', 'Jane'],
    'last' : ['Gupta', 'Doe', 'Goel'],
    'email' : ['riya.gupta@gmail.com', 'corey.doe@gmail.com', 'jane.goel@gmail.com']
}

In [7]:
df = pd.DataFrame(people)

In [8]:
df

   first   last                 email
0   Riya  Gupta  riya.gupta@gmail.com
1  Corey    Doe   corey.doe@gmail.com
2   Jane   Goel   jane.goel@gmail.com

In [9]:
df['email'] ##This is a series

0    riya.gupta@gmail.com
1     corey.doe@gmail.com
2     jane.goel@gmail.com
Name: email, dtype: object

In [10]:
df.email ##Same as above

0    riya.gupta@gmail.com
1     corey.doe@gmail.com
2     jane.goel@gmail.com
Name: email, dtype: object

In [11]:
type(df['email'])

pandas.core.series.Series

In [12]:
df[['last', 'email']]

    last                 email
0  Gupta  riya.gupta@gmail.com
1    Doe   corey.doe@gmail.com
2   Goel   jane.goel@gmail.com

In [13]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [14]:
df.iloc[0] ##Gives us first row of data

first                    Riya
last                    Gupta
email    riya.gupta@gmail.com
Name: 0, dtype: object

In [16]:
df.iloc[[0, 1]] ## Gives 1,2 rows of data

   first   last                 email
0   Riya  Gupta  riya.gupta@gmail.com
1  Corey    Doe   corey.doe@gmail.com

In [17]:
df.iloc[[0, 1], 2] #Gives 2nd column of 1,2 row of data

0    riya.gupta@gmail.com
1     corey.doe@gmail.com
Name: email, dtype: object

In [18]:
df.loc[0] ##Similar to iloc

first                    Riya
last                    Gupta
email    riya.gupta@gmail.com
Name: 0, dtype: object

In [19]:
df.loc[[0, 1]]

   first   last                 email
0   Riya  Gupta  riya.gupta@gmail.com
1  Corey    Doe   corey.doe@gmail.com

In [22]:
df.loc[[0, 1], 'email'] ##This cannot be done with iloc

0    riya.gupta@gmail.com
1     corey.doe@gmail.com
Name: email, dtype: object

In [23]:
df.loc[[0, 1], ['email', 'last']] ##This cannot be done with iloc

                  email   last
0  riya.gupta@gmail.com  Gupta
1   corey.doe@gmail.com    Doe

In [24]:
df2 = pd.read_csv('appointment.csv')

In [26]:
df2.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,No-show,PRIORITY_TYPE_CODE,Index of Multiple Deprivation Decile,Income Decile,Employment Decile,Education and Skills Decile,Health and Disability Decile,City
0,2.990000e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,No,1.0,10.0,9.0,9.0,7.0,10.0,No
1,5.590000e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,No,NaN,7.0,7.0,9.0,6.0,9.0,No
2,4.260000e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,No,NaN,7.0,7.0,9.0,6.0,9.0,No
3,8.680000e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,No,NaN,10.0,10.0,9.0,8.0,10.0,No
4,8.840000e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,No,NaN,10.0,10.0,10.0,10.0,10.0,No

In [28]:
df2.shape

(32397, 16)

In [30]:
df2.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'SMS_received', 'No-show',
       'PRIORITY_TYPE_CODE', 'Index of Multiple Deprivation Decile',
       'Income Decile', 'Employment Decile', 'Education and Skills Decile',
       'Health and Disability Decile', 'City '],
      dtype='object')

In [31]:
df2['Gender']

0        F
1        M
2        F
3        F
4        F
        ..
32392    F
32393    M
32394    F
32395    F
32396    M
Name: Gender, Length: 32397, dtype: object

In [32]:
## Count the number of female and male
df2['Gender'].value_counts()

F    20735
M    11662
Name: Gender, dtype: int64

In [36]:
df2.loc[0] #Prints the complete first row

PatientId                                           2.99e+13
AppointmentID                                        5642903
Gender                                                     F
ScheduledDay                            2016-04-29T18:38:08Z
AppointmentDay                          2016-04-29T00:00:00Z
Age                                                       62
Neighbourhood                                JARDIM DA PENHA
SMS_received                                               0
No-show                                                   No
PRIORITY_TYPE_CODE                                         1
Index of Multiple Deprivation Decile                      10
Income Decile                                              9
Employment Decile                                          9
Education and Skills Decile                                7
Health and Disability Decile                              10
City                                                      No
Name: 0, dtype: object

In [37]:
df2.loc[0, 'Gender'] #Checks the gender for first row

'F'

In [38]:
df2.loc[[0, 1, 2], 'Gender']

0    F
1    M
2    F
Name: Gender, dtype: object

In [39]:
df2.loc[0:2, 'Gender']  ##Using slicing

0    F
1    M
2    F
Name: Gender, dtype: object

In [41]:
df2.loc[0:2, 'Gender':'Neighbourhood'] ##Using slicing

  Gender          ScheduledDay        AppointmentDay  Age    Neighbourhood
0      F  2016-04-29T18:38:08Z  2016-04-29T00:00:00Z   62  JARDIM DA PENHA
1      M  2016-04-29T16:08:27Z  2016-04-29T00:00:00Z   56  JARDIM DA PENHA
2      F  2016-04-29T16:19:04Z  2016-04-29T00:00:00Z   62    MATA DA PRAIA